<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGPAC - Above The Clouds</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <div class="split-vertically">
        <div class="left">
            <div class="top-left">
                <!-- Izquierda Arriba -->
                <h1 class="title">SIGPAC - Above The Clouds</h1>
                <p class="desc">
                    This Master’s thesis aims to develop a software application that will leverage state of the art technologies in cloud computing,
                    geospatial analysis and machine learning by providing a cutting edge application for validating land cover classification models.
                    By focusing on cropland distribution and SIGPAC data this project addresses a important need in agricultural monitoring. For
                    this objectives this dissertation will implement satellite imagery processing and ground truth data, combined with advanced cloud
                    platforms like Google Cloud, Azure or AWS.
                </p>

                <div class="links-container">
                    <a class="link" href="https://www.juntadeandalucia.es/organismos/agriculturapescaaguaydesarrollorural/servicios/sigpac/visor/paginas/sigpac-descarga-informacion-geografica-shapes-provincias.html">
                        Click here to download Geographic Information System of Agricultural Plots and cadastre (SIGPAC).
                    </a>
                    <a class="link" href="https://www.juntadeandalucia.es/organismos/agriculturapescaaguaydesarrollorural/servicios/sigpac/visor/paginas/sigpac-descarga-informacion-geografica-shapes-provincias.html">
                        Click here to download a raster example to test the app.
                    </a>
                </div>
            </div>
            
                <div class="bottom-left" id="bottom-left-container">
                <!-- Initially show the upload forms and progress bar -->
                <div class="container-group">
                    <!-- Upload Box 1 -->
                    <div class="container" id="upload-box-1">
                        <form id="form1" method="POST" action="/" enctype="multipart/form-data">
                            <input type="file" name="file" id="file1" accept="image/*" hidden>
                            <div class="img-area" id="img-area-1">
                                <i class='bx bxs-cloud-upload icon'></i>
                                <h3>Upload Raster/Shp</h3>
                                <p>Raster must be a <span>.tif</span> file extension</p>
                            </div>
                            <button type="button" class="select-image" onclick="document.getElementById('file1').click()">Select Data</button>
                        </form>
                    </div>
            
                    <!-- Upload Box 2 -->
                    <div class="container" id="upload-box-2">
                        <form id="form2" method="POST" action="/" enctype="multipart/form-data">
                            <input type="file" name="file" id="file2" accept="image/*" hidden>
                            <div class="img-area" id="img-area-2">
                                <i class='bx bxs-cloud-upload icon'></i>
                                <h3>Upload Raster/Shp</h3>
                                <p>Shapefile must be a <span>.shp</span> file extension</p>
                            </div>
                            <button type="button" class="select-image" onclick="document.getElementById('file2').click()">Select Data</button>
                        </form>
                    </div>
                </div>
            
                <div class="container-buttom">
                    <div class="mainDiv">
                        <button id="toggleButton">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">START</span>
                        </button>
                        <div class="progressDiv">
                            <div class="progress"></div>
                        </div>
                        <h2 id="progress-percent">0%</h2>
                    </div>
                </div>
            </div>
            <!-- <div id="metrics-table-container" style="display: none;">
            </div> -->
        </div>

        <!-- Derecha -->
        <div class="right">
            <div class="container-group-right">
                <div class="map-buttons">
                    <button id="btn-metrics-toggle" style="display: block;">Toggle Metrics</button>
                    <button id="btn-classification">Classificator</button>
                    <button id="btn-true-false">True/False</button>
                    <button id="btn-conf-matrix">Conf Matrix</button>
                </div>
                <div class="container-right" id="static-container">
                    <img id="static-image" src="/static/assets/classification_30SUF.png" alt="IMAGE NOT FOUND" style="width: 100%; height: 100%;" />
                </div>
                <div class="container-right" id="map-container" style="display: none; height: 100%;">
                    <div id="map" style="height: 100%;"></div>
                </div>
            </div>
        </div>        
    </div>
    <script src="static/js/script.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</body>
</html>
