<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGPAC - Above The Clouds</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <div class="split-vertically">
        <div class="left">
            <div class="top-left">
                <!-- Izquierda Arriba -->
                <h1 class="title">SIGPAC - Above The Clouds</h1>
                <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat suscipit qui ducimus 
                    sint aperiam, eum incidunt voluptatem deleniti, architecto facilis necessitatibus dolores, 
                    nemo provident minus quae non est. Repellat. Lorem ipsum dolor sit, amet consectetur adipisicing 
                    elit. Expedita corrupti, vel veritatis autem nisi dicta tenetur rerum, et soluta aspernatur nam. 
                    Aut veritatis enim eius asperiores dicta neque pariatur repudiandae?
                </p>

                <a class="link" href="https://www.juntadeandalucia.es/organismos/agriculturapescaaguaydesarrollorural/servicios/sigpac/visor/paginas/sigpac-descarga-informacion-geografica-shapes-provincias.html"> Descargue aquí los datos vectoriales del Sistema de Información Geográfica de Identificación de Parcelas y Catastro (SIGPAC).</a>
            </div>
            
            <div class="bottom-left">
                <!-- Izquierda Abajo -->
                <div class="container-group">
                    <!-- Upload Box 1 -->
                    <div class="container" id="upload-box-1">
                        <form id="form1" method="POST" action="/" enctype="multipart/form-data">
                            <input type="file" name="file" id="file1" accept="image/*" hidden>
                            <div class="img-area" id="img-area-1">
                                <i class='bx bxs-cloud-upload icon'></i>
                                <h3>Upload Raster/Shp</h3>
                                <p>Raster must be a <span>.tif</span> file extension</p>
                            </div>
                            <button type="button" class="select-image" onclick="document.getElementById('file1').click()">Select Data</button>
                        </form>
                    </div>

                    <!-- Upload Box 2 -->
                    <div class="container" id="upload-box-2">
                        <form id="form2" method="POST" action="/" enctype="multipart/form-data">
                            <input type="file" name="file" id="file2" accept="image/*" hidden>
                            <div class="img-area" id="img-area-2">
                                <i class='bx bxs-cloud-upload icon'></i>
                                <h3>Upload Raster/Shp</h3>
                                <p>Shapefile must be a <span>.shp</span> file extension</p>
                            </div>
                            <button type="button" class="select-image" onclick="document.getElementById('file2').click()">Select Data</button>
                        </form>
                    </div>
                </div>


                <div class="container-buttom">
                    <div class="mainDiv">
                        <button id="toggleButton">
                            <span class="transition"></span>
                            <span class="gradient"></span>
                            <span class="label">START</span>
                        </button>
                        <div class="progressDiv">
                            <div class="progress"></div>
                        </div>
                        <h2>0%</h2>
                    </div>
                </div>

            </div>
        </div>

        <!-- Derecha -->
        <!-- <div class="right">
            <div class="container-group-right">
                <div class="container-right">
                    <img src="/static/assets/classification_30SUF.png" alt="IMAGE NOT FOUND"/>
                </div>
            </div>
        </div> -->
        <div class="right">
            <div class="container-group-right">
                <div class="container-right" id="static-container">
                    <!-- Static Image -->
                    <img id="static-image" src="/static/assets/classification_30SUF.png" alt="IMAGE NOT FOUND" style="width: 100%; height: 100%;" />
                </div>
                <div class="container-right" id="map-container" style="display: none; height: 100%;">
                    <!-- Leaflet Map -->
                    <div id="map" style="height: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/script.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

</body>
</html>
